<div class="row">
  <%= form_for @user, :html => { :multipart => true } do |f| %>
      <% if @user.errors.any? %>
          <div class="row">
            <div class="large-12 columns">
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                  <% @user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
      <% end %>


      <div class="row">
        <div class="large-4 small-12 columns">
          <%= image_tag @user.userpic.url(:medium), alt: @user.surname%>
          <%= f.file_field :userpic %>

        </div>
        <div class="large-8 small-12 columns">
          <div class="row">
            <div class="large-6 small-12 columns">
                <%= f.label :username,"Имя пользователя"%>
                <%= f.text_field :username %>
            </div>
            <div class="large-6 small-12 columns">
                <%= f.label :password,"Пароль" %>
                <%= f.password_field :password %>
            </div>
          </div>
          <div class="row">
            <div class="large-6 small-12 columns">
              <%= f.label :name,"Имя"%>
              <%= f.text_field :name %>
            </div>
            <div class="large-6 small-12 columns">
              <%= f.label :surname,"Фамилия" %>
              <%= f.text_field :surname %>
            </div>
          </div>
          <div class="row">
            <div class="large-6 small-12 columns">
              <%= f.label :email,"Email"%>
              <%= f.text_field :email %>
            </div>
            <div class="large-6 small-12 columns">
              <%= f.label :phone,"Телефон" %>
              <%= f.text_field :phone %>
            </div>
          </div>
          <div class="row">
            <div class="large-6 small-12 columns">
              <%= f.label :salary,"Зарплата"%>
              <%= f.text_field :salary %>
            </div>
            <div class="large-6 small-12 columns">
              <%= f.label :user_role_id,"Роль" %>
              <%= collection_select(:user, :role_id, Role.all, :id, :name) %>
            </div>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit class:"button" %>
      </div>
  <% end %>
  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>
</div>