<tr class="nested-field">
  <td>
    <img src="" class="image"/>
    <%= f.hidden_field :price_id, class:"priceid" %>
    <%= f.fields_for :prices do |test| %>
    <%= test.hidden_field :image_file_name, class:"imageurl" %>
    <% end %>
  </td>
  <td>
    <%= f.text_field :custom_name, class:"name" %>
  </td>
  <td>
    <%= f.text_area :custom_description, class:"description", rows: 4, :style => "resize: none;" %>
  </td>
  <td>
    <%= f.text_field :cost, class:"price1" %>
  </td>
  <td>
    <%= f.text_field :count, class:"count" %>
  </td>
  <td>
  <%= link_to_remove_association "Удалить", f,wrapper_class: 'nested-field' %>
  </td>
</tr>