<tr class="nested-field">
  <td>
    Картинка.джипег
  </td>
  <td>
    <%= f.text_field :custom_name %>
  </td>
  <td>
    <%= f.text_field :custom_description %>
  </td>
  <td>
    <%= f.text_field :price %>
  </td>
  <td>
    <%= f.text_field :count %>
  </td>
  <td>
  <%= link_to_remove_association "Удалить", f,wrapper_class: 'nested-field' %>
  </td>
</tr>