<tr class="nested-field">
  <td>

    <%= image_tag f.object.image_name, class:"image" %>
    <%= f.hidden_field :price_id, class:"priceid" %>
    <%= f.hidden_field :image_name, class:"imageurl" %>
  </td>
  <td>
    <%= f.text_field :custom_name, class:"name" %>
  </td>
  <td>
    <%= f.text_area :custom_description, class:"description", rows: 4, :style => "resize: none;" %>
  </td>
  <td>
    <%= f.text_field :cost, class:"price1" %>
  </td>
  <td>
    <%= f.text_field :count, class:"count" %>
  </td>
  <td>
    <%= f.collection_select(:price_category_id, PriceCategory.where("id < '11'"), :id, :name,{},{class:'pcategory_id'}) %>
  </td>
  <td>
  <%= link_to_remove_association "Удалить", f,wrapper_class: 'nested-field' %>
  </td>

</tr>