<%= smart_listing_controls_for(:prices, {class: "form-inline"}) do %>
    <%= select_tag :price_category_filter, options_from_collection_for_select(PriceCategory.where("id < '11'"),"id","name"),{:include_blank => "Выбери категорию"} %>
<% end %>
<%= form_for @event do |f| %>
<div class="row">
  <div class="large-4 columns">
    <label>Название мероприятия
      <%= f.text_field :name %>
    </label>
  </div>
  <div class="large-4 columns">
    <label>Место проведения
      <%= f.text_field :place %>
    </label>
  </div>
  <div class="large-2 columns">
    <label>Тип места
      <%= f.select :place_type, ['помещение','улица','улица и помещение'],{:include_blank => true} %>
    </label>
  </div>
  <div class="large-2 columns">
    <label>Количество гостей
      <%= f.number_field :guests %>
    </label>
  </div>
</div>
    <div class="row">
      <div class="large-4 columns">
        <label>Дата начала
          <%= f.text_field :date_start,class:"date_picker",:value=>"#{DateTime.parse(f.object.date_start.to_s).strftime("%d.%m.%Y %H:%M") unless f.object.new_record?}" %>
        </label>
      </div>
      <div class="large-4 columns">
        <label>Дата окончания
          <%= f.text_field :date_finish,class:"date_picker",:value=>"#{DateTime.parse(f.object.date_finish.to_s).strftime("%d.%m.%Y %H:%M") unless f.object.new_record?}" %>
        </label>
      </div>
      <div class="large-4 columns">
        <label>Дата погрузки
          <%= f.text_field :date_load,class:"date_picker",:value=>"#{DateTime.parse(f.object.date_load.to_s).strftime("%d.%m.%Y %H:%M") unless f.object.new_record?}" %>
        </label>
      </div>
    </div>
    <div class="row">
      <%= f.fields_for :client do |fa| %>
          <div class="large-3 columns">
            <label>ФИО Заказчика
              <%= fa.text_field :name %>
            </label>
          </div>
          <div class="large-2 columns">
            <label>Название фирмы/место работы
              <%= fa.text_field :company %>
            </label>
          </div>
          <div class="large-2 columns">
            <label>Телефон заказчика
              <%= fa.text_field :phone,class:"phone_mask"  %>
            </label>
          </div>
          <div class="large-2 columns">
            <label>Email заказчика
              <%= fa.text_field :email %>
            </label>
            <% if fa.object.errors[:email].present? %>
              <small class="error"><%= fa.object.errors[:email].join(", ") %></small>
            <% end %>
          </div>
          <div class="large-3 columns">
            <label>Замечания к заказчику
              <%= fa.text_field :notes %>
            </label>
          </div>
      <% end %>
    </div>
    <div class="row">
      <%= f.fields_for :event_curator_users do |fb| %>
          <div class="large-4 columns">
            <label>Куратор
              <%=fb.select :user_id, options_from_collection_for_select(User.all,"id","curator_name_initials") %>
            </label>
          </div>
      <% end %>
      <div class="large-4 columns">
        <label>Состояние
          <%= f.select :condition, ["ПРЕДЛОЖЕНИЕ","В РАБОТЕ","ТОЧНО","ОТМЕНА","ПЕРЕНОС"] %>
        </label>
      </div>
      <div class="large-4 columns">
        <label>Встречающий
          <%= f.text_field :greeter %>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Описание и примечания
          <%= f.text_area :description, rows: 5 %>
        </label>
      </div>
    </div>
<div class="row">
  <div class="large-2 columns" id="prices_form">
  </div>
  <div class="large-10 columns">
    <%= smart_listing_render :prices %>
    <%= link_to_add_association 'Добавить статью', f, :event_prices, :"data-association-insertion-node" => "#event_price_table", :"data-association-insertion-method" => "prepend", class:"button expand",js:true,id:'add_price',style:"display:none" %>
  </div>

  </div>
    <div class="row">
      <div class="large-12 columns">
        <table class="showtable">
          <thead>
          <tr>
            <th style="width:10%;">Изображение</th>
            <th style="width:20%;">Наименование</th>
            <th style="width:35%;">Описание</th>
            <th style="width:10%;">Цена</th>
            <th style="width:10%;">Количество</th>
            <th style="width:10%;">Категория</th>
            <th style="width:10%;">Удалить</th>
            <th style="display:none" data-sort="int" data-sort-default="desc">Категория</th>
          </tr>
          </thead>
          <tbody  id="event_price_table">
          <%= f.fields_for :event_prices do |fc| %>
              <%= render 'event_price_fields', f: fc %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
<div class="row">
    <div class="large-4 columns">
      <%= f.submit "Создать предложение",id:"toword",  class:"button expand" %>
      </div>
      <div class="large-4 columns">
      <%= f.submit "Создать мероприятие",id:"createnew", class:"button expand" %>
      </div>
  <div class="large-4 columns">
      <%= link_to "Назад", events_path,class:"button expand" %>
    </div>
</div>
<% end %>
    <script>
        $('.date_picker').fdatetimepicker({
            language: 'ru',
            weekStart: 1,
            minuteStep: 30,
            autoclose: true,
            format: "dd.mm.yyyy hh:ii"
        });

        $('#event_event_curator_users_attributes_0_user_id').selectize({
            create: true,
            sortField: "text",
            onChange: function(value) {
                if ($.isNumeric( value )){
                    $('#event_event_curator_users_attributes_0_user_id').attr('name','event[event_curator_users_attributes][0][user_id]');
                }
                else{
                    $('#event_event_curator_users_attributes_0_user_id').attr('name','event[event_curator_users_attributes][0][custom]');
                }
            }
        });

        //Default Values
        $('#event_event_curator_users_attributes_0_user_id')[0].selectize.setValue(<%= current_user.id %>);


        //$('#event_event_curator_users_attributes_0_user_id')[0].selectize.disable();
        //$( "#event_condition" ).prop( "disabled", true );
        //var options = $("").text();

        function eventpriceselectize(){
        $('#event-price').selectize({
            create: true,
            valueField: 'id',
            labelField: 'title',
            searchField: ['title','id'],
            render:{
                item: function(item, escape)
                {
                    var itemarray = item.title.split('|');
                    return '<div>'+
                            (itemarray[0] ? '<span class="title">' + escape(itemarray[0]) + '</span>' : "")+
                                    '</div>';

                },
                option: function(item,escape)
                {
                    var itemarray = item.title.split('|');
                    if (!itemarray[2]){
                        itemarray[2] = '/assets/price/logo1.png';
                        itemarray[3] = '0'
                        itemarray[4] = '0'
                    }
                    if (itemarray[2].trim() == 'images/articles/logo1.png') {
                        itemarray[2] = '/assets/price/logo1.png';
                    }
                    var imageitem = itemarray[2].replace("images/","/assets/");
                    return '<div>'+
                    '<img class="image" width="50" height="38" src="' + imageitem + '"/>' +
                    (itemarray[0] ? '<span class="title">' + itemarray[0] + '</span>' : "")+
                    (itemarray[1] ? '<span class="description" style="display:none;">' + itemarray[1] + '</span>' : "")+
                    (itemarray[3] ? '<span class="price1" style="display:none;">' + itemarray[3] + '</span>' : "")+
                    (itemarray[4] ? '<span class="price2" style="display:none;">' + itemarray[4] + '</span>' : "")+
                    (itemarray[5] ? '<span class="category_id_table" style="display:none;">' + itemarray[5] + '</span>' : "")+
                    '</div>';
                }
            }
        });
            $( "#event-price" ).change(function() {
                if ($( "#event-price").val() == ''){
                }
                else{
                $('#add_price').trigger("click");
                }
            });
            //$('#event-price')[0].selectize.setValue(1);
            //$('#event-price')[0].selectize.setValue($(".selectize-dropdown-content div:nth-child(2)").attr("data-value"));
};
        $('#event_price_table')
                .on('cocoon:before-insert', function(e,insertedItem) {
                    insertedItem.fadeIn('slow');
                })
                .on('cocoon:before-remove', function(e, removeditem) {
                    // allow some time for the animation to complete
                    $(this).data('remove-timeout', 500);
                    removeditem.fadeOut('slow');
                })
                .on('cocoon:after-insert', function(e, insertedItem) {
            insertedItem.find('.priceid').val($("select#event-price>option").val());
            insertedItem.find('.name').val($(".selectize-dropdown-content .selected .title").text().trim());
            insertedItem.find('.description').val($(".selectize-dropdown-content .selected .description").text().trim());
            var imageitem = $(".selectize-dropdown-content .selected .image").attr("src").trim();
            insertedItem.find('.image').attr("src",imageitem);
            insertedItem.find('.imageurl').val(imageitem.replace("/assets/",""));


            price1 = parseInt($(".selectize-dropdown-content .selected .price1").text().trim())
            price2 = parseInt($(".selectize-dropdown-content .selected .price2").text().trim())
            if (isNaN(price2) || price2 == 0){
                maxprice = price1
                insertedItem.find('.pricefrom').text('От ' + price1);
            }
            else
            {
            if (price2 > price1){
                maxprice = price2
                insertedItem.find('.pricefrom').text('От ' + price1);
                insertedItem.find('.priceto').text('До ' + price2);
            }
                else{
             maxprice = price1
                insertedItem.find('.pricefrom').text('От ' + price1);
            }
            }
            //insertedItem.find('.pricefrom').text(maxprice);

            insertedItem.find('.price1').val(maxprice);
            insertedItem.find('.count').val("1");
            insertedItem.find('.pcategory_id').val($(".selectize-dropdown-content .selected .category_id_table").text().trim());
            sortByCatId();
        });
       // insertedItem.find('.priceid').val($("select#event-price>option").val());
        $( document ).ajaxComplete(function() {
            eventpriceselectize();
        });

        eventpriceselectize();
        //Грязный хак для того, чтобы всё было красиво
        $(".smart-listing-controls").prependTo("#prices_form");

        $( "#toword" ).on( "click", function() {
            $('#new_event').attr('action','/generatedocx');
            $('#edit_event').attr('action','/generatedocx');
        });
        $( "#createnew").on( "click", function() {
            $('#new_event').attr('action','/events');
        });

        jQuery(function($){
            $(".phone_mask").mask("9-999-999-9999");
        });

        $("#event_price_table tr:nth-child(1) .pricefrom").text("От 3000")
        $("#event_price_table tr:nth-child(2) .pricefrom").text("От 5000")

function sortByCatId(){
    var $tbody = $('.showtable tbody');
    $tbody.find('tr').sort(function(a,b){
        var tda = $(a).find('td:eq(5)>.pcategory_id').val(); // can replace 1 with the column you want to sort on
        var tdb = $(b).find('td:eq(5)>.pcategory_id').val(); // this will sort on the second column
        // if a < b return 1
        return tda > tdb ? 1
            // else if a > b return -1
                : tda < tdb ? -1
            // else they are equal - return 0
                : 0;
    }).appendTo($tbody);
}
    </script>