<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div class="large-12 columns" id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="large-3 columns">
    <label>Наименование
      <%= f.text_field :name %>
    </label>
  </div>
  <div class="large-3 columns">
    <label>Место проведения
      <%= f.text_field :place %>
    </label>
  </div>
  <div class="large-3 columns">
    <label>Тип места
      <%= f.select :place_type, ['помещение','улица','улица и помещение'],{:include_blank => true} %>
    </label>
  </div>
  <div class="large-3 columns">
    <label>Тип мероприятия
      <%= f.select :event_type, ['частное','техническое','спорт','свадьба','массовое','корпоратив'],{:include_blank => true} %>
    </label>
  </div>

</div>
    <div class="row">
      <div class="large-4 columns">
        <label>Дата начала
          <%= f.text_field :date_start,class:"date_picker" %>
        </label>
      </div>
      <div class="large-4 columns">
        <label>Дата окончания
          <%= f.text_field :date_finish,class:"date_picker" %>
        </label>
      </div>
      <div class="large-4 columns">
        <label>Дата погрузки
          <%= f.text_field :date_load,class:"date_picker" %>
        </label>
      </div>
    </div>
    <div class="row">
      <%= f.fields_for :client do |fa| %>
          <div class="large-3 columns">
            <label>Имя заказчика
              <%= fa.text_field :name %>
            </label>
          </div>
          <div class="large-3 columns">
            <label>Телефон заказчика
              <%= fa.text_field :phone %>
            </label>
          </div>
          <div class="large-3 columns">
            <label>Email заказчика
              <%= fa.text_field :email %>
            </label>
          </div>
          <div class="large-3 columns">
            <label>Замечания к заказчику
              <%= fa.text_field :notes %>
            </label>
          </div>
      <% end %>
    </div>
    <div class="row">
      <%= f.fields_for :event_curator_users do |fb| %>
          <div class="large-6 columns">
            <label>Куратор
              <%=fb.select :user_id, options_from_collection_for_select(User.all,"id","name"), include_blank: true %>
            </label>
          </div>
      <% end %>
      <div class="large-6 columns">
        <label>Состояние
          <%= f.select :condition, ["ПРЕДЛОЖЕНИЕ","В РАБОТЕ","ТОЧНО","ОТМЕНА","ПЕРЕНОС"] %>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Описание
          <%= f.text_area :description, rows: 10 %>
        </label>
      </div>
    </div>
    <div class="actions row">
      <%= f.submit class:"button" %>
    </div>


    <script>
        $('.date_picker').fdatetimepicker({
            language: 'ru',
            weekStart: 1,
            minuteStep: 15,
            autoclose: true,
            format: "dd.mm.yyyy hh:ii"
        });

        $('#event_event_curator_users_attributes_0_user_id').selectize({
            create: true,
            sortField: "text",
            onChange: function(value) {
                if ($.isNumeric( value )){
                    $('#event_event_curator_users_attributes_0_user_id').attr('name','event[event_curator_users_attributes][0][user_id]');
                }
                else{
                    $('#event_event_curator_users_attributes_0_user_id').attr('name','event[event_curator_users_attributes][0][custom]');
                }
            }
        })
    </script>

<% end %>

