<% unless smart_listing.empty? %>

    <div class="row">
    <table class="showtable">
      <thead>
      <th style="width:5%;">Удалить</th>
      <th style="width:5%;">Редактировать</th>
      <th style="width:40%;">
        <%= smart_listing.sortable "Название","name"  %>
      </th>
      <th style="width:10%;">
        <%= smart_listing.sortable "Дата начала","date_start"  %>
      </th>
      <th style="width:10%;">Кураторы</th>
      <th style="width:10%;">Состояние</th>
      <th style="width:20%;">Предметы</th>
      </thead>
      <tbody>
      <% smart_listing.collection.each do |o| %>
          <tr>
            <td><%= link_to '<i class="fi-x"></i>'.html_safe, o, method: :delete, data: { confirm: 'Уверены?' } %></td>
            <td><%= link_to '<i class="fi-widget"></i>'.html_safe, edit_event_path(o) %></td>
            <td><%= o.name %></td>
            <td>
              <% if o.date_start then %>
                  <%= o.date_start.to_date.strftime("%e.%m.%Y") %>
              <% end %>
            </td>
            <td>
            <% o.event_curator_users.each do |curator| %>
                <% if curator.custom %>
                    <%= curator.custom %>
                    <br />
                <% elsif curator.user  %>
                    <%= curator.user.curator_name_initials %>
                    <br />
                <% end %>
            <% end %>
            </td>

            <td><%= o.condition %></td>
            <td></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= smart_listing.paginate %>
    <%= smart_listing.pagination_per_page_links %>
        </div>
<% else %>
    <p class="warning">Нет записей!</p>
<% end %>