<% provide(:title, "Мероприятия") %>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="large-6 small-12 medium-6 columns">
    <%= link_to 'Новое событие', new_event_path %>
  </div>

  <div class="large-6 small-12 medium-6 columns">

  <%= smart_listing_controls_for(:events, {class: "form-inline text-right"}) do %>
        <div class="checkbox">
          <label class="checkbox inline">

            <%= check_box_tag :in_work %>
            <%= "В работе" %>
          </label>
        </div>
      <div class="form-group filter input-append">
        <%= text_field_tag :filter, '', class: "search form-control", placeholder: "Поиск..." %>
    <% end %>
  </div>
</div>
</div>
<%= smart_listing_render :events %>


