<%= form_for(@contact_type) do |f| %>
  <% if @contact_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_type.errors.count, "error") %> prohibited this contact_type from being saved:</h2>

      <ul>
      <% @contact_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contact_category_id %><br>
    <%= collection_select(:contact_type, :contact_category_id, ContactCategory.all, :id, :name) %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
