<% unless smart_listing.empty? %>
    <table>
      <thead>
      <th>
        <%= smart_listing.sortable "Наименование","title"  %>
      </th>
      <th>
        <%= smart_listing.sortable "Описание","description"  %>
      </th>
      <th>
        <%= smart_listing.sortable "Цена1","price1"  %>
      </th>
      <th>
        <%= smart_listing.sortable "Цена2","price2"  %>
      </th>
      <th>
        <%= smart_listing.sortable "Категория", "price_category_id" %>
      </th>
      </thead>
      <tbody>
      <% smart_listing.collection.each do |o| %>
          <tr>
            <td><%= o.title %></td>
            <td><%= o.description %></td>
            <td><%= o.price1 %></td>
            <td><%= o.price2 %></td>
            <td><%= o.price_category_id %></td>
            <td><%= link_to 'Подробнее', o %></td>
            <td><%= link_to 'Редактировать', edit_price_path(o) %></td>
            <td><%= link_to 'Удалить', o, method: :delete, data: { confirm: 'Уверены?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% # Render nice pagination links fitted for Bootstrap 3 by default %>
    <%= smart_listing.paginate %>
    <%= smart_listing.pagination_per_page_links %>
<% else %>
    <p class="warning">No records!</p>
<% end %>
