<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @place.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @place.phone %>
</p>

<p>
  <strong>Presentation:</strong>
  <%= @place.presentation %>
</p>

<p>
  <strong>Image:</strong>
  <%= @place.image %>
</p>

<p>
  <strong>Price category:</strong>
  <%= @place.price_category_id %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
